@CHARSET "UTF-8";

body
{
	background-image:url("../img/background.jpg");
	background-position:right top;
}

.mainpart {
	position:relative;
	top:10px;
	width:1080px;
	height:500px;
	color:black;
	background-color: white;
	font-family:Arial,Helvetica,sans-serif;
	padding:10px;
}

.mainpart h2 {
	text-shadow:2px 2px lightgrey;
}

.footer {
	position:relative;
	top:10px;
	text-shadow:2px 2px grey;
	width:1100px;
	color:white;
	background-color: lightgrey;
}